.code-example{
    width: $width;
    min-height: 200px;
    height: auto;
    margin: 20px 0 20px 0;

    h2 {
        text-align: center;
    }

    p {
        font-size: 20px;
        font-family: 'Nunito Sans', sans-serif;
        padding-left: 50px;
        margin-bottom: 20px;
    }

    pre {
        font-size: 16px;
    }
}