.experience {
    width: $width;
    min-height: 300px;
    height: auto;
    margin-bottom: 20px;

    h2 {
        text-align: center;
    }

    p {
        font-size: 20px;
        font-family: 'Nunito Sans', sans-serif;
        padding-left: 50px;
        margin-bottom: 20px;
    }

    ul {
        width: $width;
        min-height: ihnerit;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            width: 50%;
            min-height: inherit;
            height: 400px;
            cursor: pointer;

            .shadow{
                width: ihnerit;
                height: 400px;
                background-color: $main-color;
                opacity: 0;
                visibility: none;
                transition: opacity .5s ease;
            }
            .shadow:hover{
                opacity: .7;
                visibility: visible;
            }
        }
    }
}