.experience {
    width: $width;
    min-height: 300px;
    height: auto;
    margin-bottom: 20px;

    h2 {
        text-align: center;
    }

    p {
        font-size: 20px;
        font-family: 'Nunito Sans', sans-serif;
        padding-left: 50px;
        margin-bottom: 20px;
    }

    ul {
        width: $width;
        min-height: ihnerit;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            position: relative;
            width: 50%;
            min-height: inherit;
            height: auto;
            cursor: pointer;

            img {
                position: relative;
                display: block;
                margin: 0 auto;
                width: 90%;
                height: 400px;
                z-index: 1;
            }
            
            .shadow{
                position: absolute;
                width: 100%;
                height: 400px;
                background-color: $main-color;
                opacity: 0;
                visibility: visible;
                transition: opacity .5s ease;
                z-index: 5;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                a{
                    font-size: 36px;
                    color: #fff;
                    text-decoration: none;
                }
            }
            .shadow:hover{
                opacity: .7;
                visibility: visible;
            }
        }
    }
}