
header, .header{
    width: $width;
    height: 400px;
    background-color: $main-color;

    &__title{
        width: 255px;
        height: auto;
        position: relative;
        left: 700px;
        top: 210px;
        
        h1{
            font-family: 'Nunito Sans', sans-serif;
            color: #fff;
            font-size: 54px;
        }
    }

    &__photo{
        width: 300px;
        height: 400px;
        position: relative;
        top: -40px;
        left: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: #fff;

        img {
            //width: 330px;
            height: 380px;
            object-fit: fill;
            border-radius: 50px;
        }

    }
}