.skills {
    width: $width;
    min-height: 200px;
    height: auto;
    border-top: 1px solid $main-color;
    text-align: center;

    &__wrapper {
        width: 100%;
        min-height: 150px;
        height: auto;

        ul {
            width: 100%;
            height: auto;
            list-style: none;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            font-size: 18px;

            li {
                width: 25%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 80%;
                    height: 150px;
                    margin-bottom: 20px;
                }
            }
        }
    }

}